@font-face {
    font-family: '3dumbregular';
    src: url('3Dumb-webfont.woff2') format('woff2'),
         url('3Dumb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@import"utils/variables";
@import"utils/mixins";
@import"utils/functions";
@import"base/typography";
@import"layout/header";
@import"layout/footer";
@import"layout/forms";
@import"layout/navigation";
@import"layout/sidebar";
@import"pages/contact";
@import"pages/home";
@import"components/buttons";
