header {
    background-color: $primary_color;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
        .logo_titre {
            display: flex;
            flex-direction: column;}
        }

/*
header img{
    float: right;
    @include title_border;
    @include radius;
    @include heading_shadow;
}
*/