nav{
    ul{
        list-style-type: none;
        
            
    a{
        font-family: $font_family;
        @include heading_box;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        
        
        
            &:hover{
            background: $secondary_color;
            text-decoration: double;
                        
        }
       
}}}
