nav{
    ul{
        list-style-type: none;
        margin-right: 10%;
    
    a{
        font-family: $font_family;
        @include heading_box;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        
            &:hover{
            font-weight: bold;
            text-decoration: double;
                        
        }
       
}}}
