#liseret {   
    position: absolute;
    width: 8%;
    margin-right: 3%;
    height: 1050px;
    background-color: rgb(245, 159, 128);
    border-radius: 10px;
    @include title_border;
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
}
    