@font-face {
    font-family: '3dumbregular';
    src: url('3Dumb-webfont.woff2') format('woff2'),
         url('3Dumb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
