
.a_propos{
    width: 40%;
    margin-bottom: 5%;
}


.contacts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.btn_contact{
    color: black;
    font-size: 1.5em;
    text-decoration: none;
    border: 3px solid $primary_color;
    padding: 2% 3% 2% 3%;
    width: fit-content;
    border-radius: 2rem;
    transform:scale(1);
    transition: transform 400ms;
    
        &:hover{
                        
            transform: scale(1.50);
            border: 3px solid white;  
            background-color: $secondary_color;
            color: white;         
}}