
body{
    background-color: $background;
    background-image: url(".../images/fond.png");
    margin: auto;
    font: $font_family;
}

ul{
    margin: 0%;
    text-align: justify;
}


header img{
    float: right;
    @include title_border;
    @include radius;
    @include heading_shadow;
}

h1 {
    @include heading_shadow;
    background-color: $secondary_color;
    font-size: 2.5em;
    @include title_border;
    @include radius; 
    width: 35%;
    text-align: center;
}

h2{
    background-color: $secondary_color;
    @include main_font;
    @include title_border;
    @include radius;
    @include heading_shadow;
    width: 20%;
    padding-left: 2%;
}

.sous_titre{
    width: 30%;
}

.titre_aside{
    width: 90%;
}


ul{
    .cadre {
        background-color:$primary_color;
        border : dashed black;
        @include radius;
        @include main_font;
        width: 45%;
        padding-top: 1%;
        padding-bottom: 1%;
    }

.contenu {
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
    width: 85%;
    position: relative;
}

.cote_droit{
    position: absolute;
    bottom : 20%;
    right: 2%;
    }

@MEDIA all and (max-device-width: 480px){
    #liseret{
        display: none;
    }
    
}

@media all and (max-device-width: 480px){

}

}