
body{
    background-color: $background_body;
    background-image: url(".../images/fond.png");
    margin: auto;
    font: $font_family;
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
    width: 85%;
    position: center;
}

html{
    background-color: $secondary_color;
}

p{
    text-align: justify;
}

.cadres{
    margin: 0%;
    @include cadres;
    @include main_font;
}

h1, h2{
    @include heading_box;
}




@MEDIA all and (max-device-width: 480px){
    #liseret{
        display: none;
    }
    
}

@media all and (max-device-width: 480px){

}
