@mixin radius{
    border-radius: 5px;
}
@mixin heading_shadow{
    box-shadow: 0 5px 5px;
}
@mixin title_border{
    border : 2px solid black;
}
@mixin main_font{
    color: black;
    font-size: 2em;
}