$primary_color: rgb(222, 184, 135);
$secondary_color: rgb(206, 162, 108);
$background_body: rgb(255, 255, 255);
$liseret_color: rgb(245, 159, 128);


$font_family: ("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,700;0,800;1,400&display=swap");
