$primary_color: rgb(222, 184, 135);
$secondary_color: rgb(255, 228, 196);
$background: rgb(127, 255, 212);
$font-family: ("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,700;0,800;1,400&display=swap");
$font_color: black;